.quiz{
     background-color: aliceblue;
     width:50%;
     text-align: center;
     margin:50px;
}

body{
    
    background: linear-gradient(120deg,goldenrod 30%,yellow 30%);   
    
}

header{
    background-color: wheat;
    border-style: groove;
}
div{
    
    margin-top: 0px;
    height:30px;
    font-size: x-large;
    text-decoration:solid;
    font-family: monospace;
    font-weight: bold;
}

img{
    margin-top:100px;
    align-content: center;
    text-align: center;
    border-radius: 50%;
    height: auto;
    width: auto;
    align-content: center;
    box-shadow: rgb(161, 104, 35) 2px 5px 5px;
    margin: 20px;
}
p{
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight:bold;
    
}
.p1{
    font-size:x-large;
    text-align:left;

}
.p3{
    text-align:center;
    font-size:x-large
}
ul{
    font-size: larger;
    font-style: oblique;
    font-weight:bold;
    text-align:center;
    margin:40px;
}

.p2{
    font-size:x-large;
    text-align:center;   
    margin:30px;
    padding:10px;
    
}
pre{
    padding-left:0px;
}
.i1{
    border-radius:50%;
    height:50px;
}
li{
    text-align: center;
    list-style-type: square;
}

.p3{
font-size:larger;
padding:20px;
}
li::before{
    text-align: center;
    align-items: center;

}
.m1{
    border-style: dashed;
    margin:20px;
}
.i2{
    border-radius: 70%;
    height:70px;
}
.i3{
    border-radius: 50%;
    height:60px;
    width:70px;
}
.i4{
    border-radius: 0%;
    height:30%;
    align-items: center;
    text-align: center;
}
